:root {
    --new-generation-color: green;
    --dead-cell-color: red;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181a1b;
    color: #c6e6e3;
}
td {
    background-color: #131516;
}

h1 {
    background-color: #131516;
    text-align: center;
}

.new-born {
    box-shadow: 0 0 10px var(--new-generation-color), 0 0 20px var(--new-generation-color);
}

.dead-cell {
    box-shadow: 0 0 10px var(--dead-cell-color), 0 0 20px var(--dead-cell-color);
}

button {
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    background-color: green;
}